# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_DAOCHOC_LEFT

config ZMK_KEYBOARD_NAME
	default "Daochoc"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

endif

if SHIELD_DAOCHOC_LEFT || SHIELD_DAOCHOC_RIGHT

config ZMK_SPLIT
	default y

endif
